/* GENERAL */
*{
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
  }
  p{
    margin: 0 0 1rem;
  }
  h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .text-blue{
    color: #069fff;
  }
  .text-yellow{
    color: #c28e00;
  }
  .text-black{
    color: #000000;
  }
  .text-white{
    color: white;
  }
  .text-uppercase{
    text-transform: uppercase; 
  }
  .icon{
    margin-right: .5rem;
  }
  .linkedin{
    color: white;
  }
  .mailto{
    color: white;
    text-decoration: underline;
  }
  .cv-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  }
  .section{
    margin-bottom: 1.5rem;
  }
  
  /* LEFT COLUMN */
  .left-column{
    width: 45vw;
    padding: 5%;
    background-color: #c28e00;
    color: white;
  }
  .portrait{
    padding: 5%;
  }
  .portrait img{
    border-radius: 20px;
    max-width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 40px;
  }
  .skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
  }
  
  /* RIGHT COLUMN */
  .right-column{
    width: 55vw;
  }
  
  /* HEADER */
  .header{
    columns: 2;
    grid-area: header;
    padding: 4%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
  }
  .infos{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .list_infos{
    list-style-type: none;
    padding: 0;
  }
  
  /* CONTENT */
  .content{
    grid-area: content;
    padding: 4%;
  }
  .experience-list{
    list-style-type: circle;
  }